<div class="container mt-2 content">
  <app-filter
    btnText="Add Project"
    placeholder="Search by Project Name"
    (searchEmitter)="search($event)"
    (addEmitter)="openDialog()"
  />

  <app-table-container
    [displayedColumns]="displayedColumns"
    [dataSource]="projectList"
    [totalRows]="totalRows"
    (openDialogEmitter)="openDialog($event)"
    (pageIndexEmitter)="handlePageEvent($event)"
    (sortEmitter)="applySort($event)"
    (changeStatusEmitter)="changeStatus($event)"
  />
</div>
