
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png"/>
            </div>
        </a>
    </div>
    <ul class="nav-list responsive-nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
