
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

.filter-container {
    display: grid;
  }
  
  .search-container {
    display: inline-flex;
    flex-direction: column;
    row-gap: 10px;
  
    .mat-mdc-text-field-wrapper {
      background-color: #e1e2e3;
    }
  }
  
  .text-container {
    display: grid;
    font-size: 12px;
    grid-template-columns: repeat(2, 1fr);
    height: 1rem;
  
    .icon {
      grid-column: 1/2;
    }
  
    .text {
      grid-column: 2/2;
      padding-top: 1px;
    }
  }
  
  .filter-grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-size: 16px;
  
    .filter-grid {
      grid-column: 1/9;
    }
  
    .actions {
      grid-column: 9/12;
      margin-left: 10px;
      padding-top: 7px;
    }
  }
  
  .search {
    margin-left: 15px;
  }