table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  th {
    background-color: #FB404B !important;
    background-color: -moz-linear-gradient(top, #FB404B 0%, #bb0502 100%) !important;
    background-color: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #FB404B),
      color-stop(100%, #bb0502)
    ) !important;
    background-color: -webkit-linear-gradient(top, #FB404B 0%, #bb0502 100%) !important;
    background-color: -o-linear-gradient(top, #FB404B 0%, #bb0502 100%) !important;
    background-color: -ms-linear-gradient(top, #FB404B 0%, #bb0502 100%) ;
    background-color: linear-gradient(to bottom, #FB404B 0%, #bb0502 100%) !important;
    background-size: 150% 150%;
  
    color: #fff !important;
  }
  
  td, th {
    width: 25%;
  }

  .id-link {
    cursor: pointer;
    color: black;
  }
  
  .open {
    color: green !important;
    cursor: pointer;
  }
  
  .close {
    color: red !important;
    cursor: pointer;
  }
  