<div class="container mt-2 content">
  <app-filter
    btnText="Add Team"
    placeholder="Search by Team Name"
    (searchEmitter)="search($event)"
    (addEmitter)="addNewTeam()"
  />
  <app-table-container
    [displayedColumns]="displayedColumns"
    [dataSource]="teamList"
    [totalRows]="totalRows"
    (openDialogEmitter)="addNewTeam($event)"
    (pageIndexEmitter)="handlePageEvent($event)"
    (sortEmitter)="applySort($event)"
    (changeStatusEmitter)="changeStatus($event)"
  />
</div>
