.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px; /* Ajusta el relleno según tus preferencias */
    z-index: 1000; /* Ajusta el índice z para que esté por encima de otros elementos */
  }
