<h2 mat-dialog-title class="title-container" data-color="azure">
    <div class="text-title">
      {{ title() }}
    </div>
    <div class="close-button">
      <span>
        <mat-icon mat-dialog-close align="end">close</mat-icon>
      </span>
    </div>
  </h2>
  <mat-dialog-content class="content">
    <form [formGroup]="userForm()" (submit)="save()">
      <mat-form-field class="name">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-error>
          <span
            errorLabel
            [errors]="userForm().get('name')?.errors"
            field="Name"
            *ngIf="userForm().get('name')?.touched"
          ></span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="name">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required />
        <mat-error>
          <span
            errorLabel
            [errors]="userForm().get('lastName')?.errors"
            field="Last Name"
            *ngIf="userForm().get('lastName')?.touched"
          ></span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="name">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
        <mat-error>
          <span
            errorLabel
            [errors]="userForm().get('email')?.errors"
            field="Email"
            *ngIf="userForm().get('email')?.touched"
          ></span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="select">
        <mat-label>Select a Role</mat-label>
        <mat-select formControlName="roleId">
          <mat-option [value]="item._id" *ngFor="let item of roleList()">{{
            item.roleName
          }}</mat-option>
        </mat-select>
        <mat-error>
          <span
            errorLabel
            [errors]="userForm().get('roleId')?.errors"
            field="Project"
            *ngIf="userForm().get('roleId')?.touched"
          ></span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="select">
        <mat-label>Select a Team</mat-label>
        <mat-select formControlName="teamId">
          <mat-option [value]="item._id" *ngFor="let item of teamList()">{{
            item.teamName
          }}</mat-option>
        </mat-select>
        <mat-error>
          <span
            errorLabel
            [errors]="userForm().get('teamId')?.errors"
            field="Project"
            *ngIf="userForm().get('teamId')?.touched"
          ></span>
        </mat-error>
      </mat-form-field>    
      <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>
    </form>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <div class="button-container float-end">
      <button mat-dialog-close class="btn cancel" [disabled]="isSaving">
        Cancel
      </button>
      <button (click)="save()" class="btn save" [disabled]="isSaving">
        {{ buttonText() }}
        <mat-icon *ngIf="isSaving">
          <mat-spinner matSuffix diameter="20"></mat-spinner>
        </mat-icon>
      </button>
    </div>
  </div>
  